$marquee-item-width: 264px;
$marquee-gap: 32px;

$width-and-gap: calc($marquee-item-width + $marquee-gap);
$number-of-marquee-items: 20; // Change this number based on the length of the marqueeItemsData Array in the JavaScript; then multiply the number by 2.

$marquee-duration: 120s; // animation-duration css propertys

.marquee-container {
    padding: $marquee-gap;
    overflow: hidden;
    position: relative;
    
    .marquee-container-draggable {    
        overflow: hidden;  // This becomes the viewport for the marquee
        cursor: grab;
        transform-origin: left;
        transition: 0.4s ease;

        &:active {
            transform: scale(1.025);
            cursor: grabbing;
            
            .marquee-item {
                cursor: grabbing;
            }
        }
    }

    .marquee-container-row {
        animation: marquee-animation $marquee-duration linear infinite;
        width: calc($width-and-gap * $number-of-marquee-items);
    }

    .marquee-set {
        display: flex;
        gap: $marquee-gap;
    }

    &:hover {
        
        .marquee-container-row {
            animation-play-state: paused;
        }
    }
}

.marquee-item {
    border-radius: $border-radius;
    position: relative;
    width: $marquee-item-width;
    height: $marquee-item-width;
    flex-shrink: 0;
    @include smart-flex(column, flex-start, flex-start);
    gap: 16px;
    padding: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.4s ease;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0;
        transition: 0.4s ease;
    }
    
    h2 {
        font-family: 'Plus Jakarta Sans';
        font-size: 36px;
        font-weight: 500;
        background-color: $off-white;
        width: 52px;
        height: 52px;
        border-radius: $border-radius-2;
        @include smart-flex(row, center, center);

        &:hover {
            background-color: $off-white;
        }
    }

    h3 {
        font-family: 'Plus Jakarta Sans';
        font-size: 20px;
        font-weight: 400;
    }

    p {
        font-size: 15px;
    }

    .arrow-icon {
        position: absolute;
        bottom: 16px;
        left: 16px;
        border: 1px solid $icon-accent;
        border-radius: 50%;
        padding: 8px;
        width: 40px;
        height: 40px;
        transform: scale(0.8) rotate(-45deg);
        transition: background 0.3s ease;
        overflow: hidden;

        &-slider {
            // border: 1px solid yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            justify-content: space-between;
            width: 64px;
            transform: translate(calc(-50% - 20px), -50%);
            transition: 0.4s ease;
        }
        
        svg {
            stroke: transparent;

            &:first-of-type {

                path {
                    fill: $dark-grey;
                }
            }
        }
        
        path {
            fill: $icon-accent;
        }
    }

    &:hover {

        img {
            opacity: 0.1;
        }

        .arrow-icon {
            background-color: $off-white;
            transition: background 0.3s ease 0.3s;

            &-slider {
                transform: translate(calc(14% - 20px), -50%);
                transition: 0.6s cubic-bezier(.9,.1,.1,.9);
            }
        }
    }
}

@keyframes marquee-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .marquee-container {
    
        .marquee-container-row {
            animation-duration: calc($marquee-duration / 1.5);
        }
    }
}